<div id="item_container"></div>
<div id="item_detail">
  <h1></h1>
  <div id="item_detail_left_column">
    <div id="item_detail_info">
      <p id="item_detail_info_subscription"></p>
      <p id="item_detail_info_author"></p>
      <a id="item_detail_info_source_link" target="_blank">Open article</a>
      <a id="item_detail_info_mark_as_read" href="#">Mark as read</a>
      <p id="item_detail_info_published_at"></p>
      <p id="item_detail_info_updated_at"></p>
    </div>
  </div>
  <div id="item_detail_right_column">
    <div id="item_detail_content"></div>
  </div>
  <div class="clear"></div>
</div>
<div id="overlay"></div>
<div id="login">
  <h1>Log in with your Google account...</h1>
  <%= form_tag "#" do %>
    <p class="form_line">
      <%= text_field_tag :login_email, nil, :placeholder => "Email" %>
    </p>
    <p class="form_line">
      <%= password_field_tag :login_password, nil, :placeholder => "Password" %>
    </p>
    <%= submit_tag "Log in" %>
  <% end %>
</div>
